# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
.venv/

# Ignore model checkpoints (can be very large)
*.h5
*.pkl

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system/IDE files
.vscode/
.idea/
.DS_Store
